#!/bin/sh

export RESTIC_REPOSITORY="sftp:{{ restic_ssh_host }}:{{ restic_repository['name'] }}"
export RESTIC_PASSWORD="{{ restic_repository['password'] }}"

restic check || exit 2


{% if 'folders' in restic_repository %}
restic backup --verbose \
{% for folder in restic_repository['folders'] %}
    {{folder}} \
{% endfor %}
{% endif %}


{% if restic_forget %}
restic forget \
    --keep-daily=7 \
    --keep-weekly=4 \
    --keep-monthly=6 
{% endif %}


{% if restic_prune %}
restic prune
{% endif %}

